.contain {
  max-width: 800px;
  margin: 4rem 0;
  background: salmon;
}
.urlLink {
  font-weight: bold;
  color: #706fd3;
}
.networks {
  display: flex;
  margin: 1rem;
}
.networkItem {
  font-size:50px;
  color: var(--color-button-bg);
}
.networkItem:hover {
  color: cadetblue;
}
