.landingImage {
  height: 500px;
  z-index: 0;
}

.infoContainer {
  position: relative;
  z-index: 1;
  padding: 1rem;
  margin: 2rem;
  max-width: 420px;
  color: var(--text-white);
  top: 17rem;
  border-radius: 10px;
  // background-color: rgba(40, 51, 76, 0.85);
  background-color: var(--color-background);
  opacity: 0.9;
}
.containerButton {
  display: flex;
  justify-content: end;
}
.buttonCall {
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: var(--color-button);
}

.buttonCall:hover {
  background-color: var(--color-button-hover);
}
