.landingImage {
  height: 500px;
  z-index: 0;
}

.infoContainer {
  position: relative;
  z-index: 1;
  padding: 1rem;
  margin: 2rem;
  // max-width: fit-content;
  max-width: 420px;
  color: var(--text-white);
  top: 17rem;
  border-radius: 10px;
//   background-color: rgba(40, 76, 76, 0.85);
  background-color: rgba(40, 51, 76, 0.85);
}
.containerButton {
  display: flex;
  justify-content: end;
}
.buttonCall {
  border: none;
  padding: 0.5rem 1.5rem;
  color: var(--text-white);
  border-radius: 10px;
//   background-color: rgba(41, 129, 129, 0.85);
  background-color: rgba(41, 129, 129, 0.85);
}

.buttonCall:hover {
  background-color: rgba(183, 91, 16, 0.847);
//   background-color: var(--brown);
//   color: var(--bg-color);
}
