* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
  --color-primary-accent: #2614c7;
  --color-primary: #000;
  --color-button: #3d486c;
  --color-paragraph: #797979;
  --color-button-text: #ffffff;
  --color-background: #fff;
  --color-anchor: #000aff;
}

[data-theme='dark'] {
  --color-primary-accent: #00ff4c;
  --color-primary: #fff;
  --color-button: #00ff4c;
  --color-button-hover: #00cd3e;
  --color-paragraph: #8a8a8a;
  --color-button-text: rgb(0, 0, 0);
  --color-background: #22212b;
  --color-anchor: #00ff4c;

  rgba(188, 143, 143, 0.69)
  rgba(188, 143, 143, 0.384)
} */

/* declaring the css variables colors */
:root {
  --color-primary-accent: #0c9d22;
  --color-primary: #131313;
  --color-button: #0c9d22;
  --color-button-hover: #06881a;
  --color-paragraph: #555555;
  --color-button-bg: #555555;
  --color-button-text: rgb(255, 255, 255);
  --color-background: #eceaea;
  --color-anchor: #e3870f;
  --color-fix:#716fd3;
  --color-nav-hover: #e0dddd;
}

[data-theme="dark"] {
  --color-primary-accent: #eda546;
  --color-primary: #e8e8e8;
  --color-button: #e3870f;
  --color-button-hover: #b96c07;
  --color-paragraph: #b9b9b9b6;
  --color-button-bg: #b9b9b9b6;
  --color-button-text: #131313;
  --color-background: #37474F;
  --color-anchor: #e3870f;
  --color-nav-hover: #1d2127;
}

html,
body {
  background: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poiret One", cursive;
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-size: 3rem;
}
.container {
  padding: 4rem 1rem;
}

p,
li {
  color: var(--color-paragraph);
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--color-anchor);
}
svg {
  width: 100%;
}
* {
  box-sizing: border-box;
}

pre {
  font-size: 2rem;
}

code:not(pre) {
  background: #2f405b72;
  color: #d3d3d5;
  padding: 0.1rem 0.6rem;
  border-radius: 4px;
}
pre code.hljs {
  background: #2f405b;
  margin: 1rem 0;
  font-size: 13px;
}
